<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ .Title }}</title>
  /css/custom.css
</head>
<body>

  <header>
    <h1>Tecnologia e Criatividade</h1>
    <p>
      Referências úteis de Tecnologia (Marcos Predebon)<br>
      e Criatividade - legado do Professor José Predebon
    </p>
  </header>

  <nav>
    /Home</a>
    /tecnologia/Tecnologia</a>
    /criatividade/Criatividade</a>
  </nav>

  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    © 2025 Marcos • Em memória de José Predebon
  </footer>

</body>
</html>