<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}pt-br{{ end }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>
<body>
  <header>
    <h1><a href="{{ .Site.Home.RelPermalink }}" style="color: inherit; text-decoration: none;">{{ .Site.Title }}</a></h1>
    <p>
      Referências úteis de Tecnologia (Marcos Predebon)<br>
      e Criatividade - legado do Professor José Predebon
    </p>
  </header>

  <nav class="main-menu">
    <a href="{{ "tecnologia/" | relURL }}">Tecnologia</a>
    <a href="{{ "criatividade/" | relURL }}">Criatividade</a>
  </nav>

  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    © {{ now.Year }} Marcos • Em memória de José Predebon
  </footer>

</body>
</html>
