{{ define "main" }}

<section class="home-intro">
  <h2>Referências de Tecnologia</h2>
  <p>Explore recursos sobre Microsoft Power Platform e ferramentas modernas:</p>

  <div class="link-list">
    <a href="https://azure.microsoft.com">Microsoft Azure</a>
    <a href="https://visualstudio.microsoft.com">Visual Studio</a>
    <a href="https://github.com">GitHub</a>
    <a href="https://copilot.microsoft.com">Microsoft Copilot</a>
    <a href="https://aka.ms/PowerPlatformResources">Cursos e vídeos do Power Platform</a>
    <a href="https://learn.microsoft.com/pt-br/power-platform/admin/pricing-billing-skus">Licenciamento Power Apps</a>
    <a href="https://learn.microsoft.com/pt-br/power-platform/guidance/adoption/whats-new">Melhores práticas de adoção</a>
    <a href="https://learn.microsoft.com/pt-br/power-platform/alm/overview">ALM para Power Platform</a>
  </div>
</section>

{{ end }}