{{ define "main" }}

<section class="home-intro">
  <h2>Referências de Tecnologia</h2>
  <p>Explore recursos sobre Microsoft Power Platform e ferramentas modernas:</p>

  <div class="link-list">
      https://azure.microsoft.comMicrosoft Azure</a>
      https://visualstudio.microsoft.comVisual Studio</a>
      https://github.comGitHub</a>
      https://copilot.microsoft.comMicrosoft Copilot</a>
      https://aka.ms/PowerPlatformResourcesCursos e vídeos do Power Platform</a>
      https://learn.microsoft.com/pt-br/power-platform/admin/pricing-billing-skusLicenciamento Power Apps</a>
      https://learn.microsoft.com/pt-br/power-platform/guidance/adoption/whats-newMelhores práticas de adoção</a>
      https://learn.microsoft.com/pt-br/power-platform/alm/overviewALM para Power Platform</a>
  </div>
</section>

{{ end }}